# Ignore ipynb checkpoint files
**/.ipynb_checkpoints

# Ignore coverage report files
**/.coverage

# Ignore test data files
*/tests/test_db/*

# Ignore cache files
**/.cache
**/__pycache__/*

# Ignore Apple Desktop Services files
*.DS_Store*

# Ignore swap files
*.swp*

# Ignore docsite output files
/doc/_site/*
/doc/_build/*
/doc/auto_tutorials/*
/doc/auto_examples/*
/doc/generated/*
/doc/backrefs/*
/doc/.sass-cache/*
/doc/sg_execution_times.rst

# Ignore pylint output
_lint.txt

# Ignore tutorial & example db
**/lisc_db/**

# Ignore disribution files
build/*
dist/*
*.egg-info/*
